* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Alfa Slab One', cursive;
    background-color: #274156;
}

h1 {
    color: #fbfcff;
    padding: 40px 0;
    font-size: 2.5em;
    font-weight: inherit;
    margin: 0 auto;
    border-bottom: solid 2px #274156;
}

/* quote block */
.quote-container {
    border: 3px inset #D0CCD0;
    border-radius: 25px;
    padding: 10px;
    background-color: #605856;
    font-family: 'Cinzel', serif;
    font-size: .9em;
    font-kerning: none;
    text-align: center;
    margin: auto auto 20px auto;
    width: 85%;
    color: #FBFCFF;
    box-shadow: 0 15px 25px -10px #D0CCD0;
}
#quotegen {
    background-color: #274156;
    border-radius: 10px;
    border: none;
    color: #fbfcff;
    padding: 5px 16px;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    margin: 5px;
    cursor: pointer;
}

/* BUDGET BLOCK */
.budget-container {
    background-color: #FBFCFF;
    border-radius: 25px;
    color: #274156;
}
/* BUDGET DISPLAY */
.balance {
    font-size: 1.15em;
}

#save-btn {
    border: 2px inset #D0CCD0;
    border-radius: 20px;
    margin-bottom: 5px;
    font-family: 'Alfa Slab One', cursive, sans-serif;
    font-size: 1em;
    color: #fbfcff;
    background-color: #274156;
}

/* BUDGET DASHBOARD */
.budget-dashboard {
    background-color: #1c6e8c;
    border: 3px solid #d0ccd0;
    border-radius: 25px;
    color: #fbfcff;
    margin-bottom:10px;
    height: 339px;
    
}
        /* budget dashboard toggling */    
    .toggle .tab1, .tab2, .tab3{
    cursor: pointer;
    font-size: 1.1em;
    }

    .tab1, #expense, .expense, .outcome {
        color: #cc3628;
    }
    .active {
        text-decoration: underline;
        font-size: 1.2em;
    }

    .hide {
        display: none;
    }

    .scroll {
        height: 150px;
        overflow:scroll;
        overflow-x:hidden;
    }

        #income-title-input,
        #expense-title-input {
            height: 20px;
            width : 150px;
            font-size: 1em;
            font-family: 'Alfa Slab One', cursive, sans-serif;
            border-radius: 10px 0 0 10px;
            border: none;
        }
        #income-amount-input,
        #expense-amount-input {
            height: 20px;
            width: 150px;
            font-size: 1em;
            font-family: 'Alfa Slab One', cursive, sans-serif;
            border-radius: 0 10px 10px 0;
        }
            .entry {
                text-align:start;
            }
            #edit,
            #delete {
                position:relative;
                left: 60px;
                margin: 0 5px;
                border: 2px solid #fbfcff;
                border-radius: 20px;
                font-family: 'Alfa Slab One', cursive, sans-serif;
                font-size: .75em;
                color: #fbfcff;
                background-color: #605856;
            }

.add-style {
    border: 2px solid #274156;
    border-radius: 20px;
    background-color: #D0CCD0;
    margin-top: 3px;
}

/* MEDIA QUERIES */
@media(max-width: 599px) {
    .balance {
        margin-bottom: 10px;
    }
    .inc-media1,
    .out-media1 {
        display: inline-block;
    }

    .inc-media1 {
        width: 25%;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .out-media1 {
        width: 25%;
        margin-left: 10px;
        margin-bottom: 5px;
    }   

    #quotegen {
        margin-bottom: 10px;
    }

    #edit,
    #delete {

    }
}

@media (min-width: 600px) {
    

    #flex-wrap2 {
        display: flex;
    }

    .budget-container {
        margin-top: 50px;
    }

    .budget-display {
        width: 40%;
    }
    .budget-dashboard {
        width: 60%;
    }

    .account {
        margin-bottom: 10%;
        margin-top: 20%;
    }
   


@media (min-width: 900px) {
    #flex-wrap {
            display: flex;
        }

        .quote-container {
            width: 40%;
            margin: auto 15px auto auto;
            margin-top: 50px;
        }
        .budget-container {
            width: 60%;
            padding-top: 25px;
            padding-bottom: 25px;
            margin-top: 50px;
        }

        .budget-dashboard {
            margin-right: 10px;
        }
}